body {
    background-image: url(fundo.jpeg);
}
.strip {
    width: 100%;
    height: 65px;
    background-color: #5e5e5e;
    margin: auto;
    display: flex;
}
.principal{
    font-size: 40px;
    color: #fbff00;
    margin: auto;
    margin-left: 0;
    justify-self: left;
    text-decoration: none;
    height: 100%;
    align-content: center;
}
.second,.sub{
    font-size: 25px;
    color: #fbff00;
    margin: auto;
    justify-self: left;
    margin-right: 40px;
    margin-left: 60px;
    height: 100%;
    align-content: center;
    text-decoration: none;
}
.second:hover, .sub:hover{
    background-color: #292929;
    font-size: 30px;
}
.principal:hover{
    background-color: #292929;
    font-size: 45px;
}
.main:hover .sub{
    display: flex;
}
.sub{
    justify-self: left;
    display: none;
    background-color: #5e5e5e;
    z-index: 10;
    position: relative;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}
.textos{
    color: #fff;
    font-size: 25px;
    margin: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: justify;
}