@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-image: url(imgs/fundo.jpeg);
    background-size: cover;
    margin: 0;
}
.strip {
    width: 100%;
    height: 65px;
    background-color: #5e5e5e;
    margin: auto;
    display: flex;
    position: sticky;
    top: 0;
}
.principal{
    font-size: 40px;
    color: #fbff00;
    margin: auto;
    margin-left: 0;
    justify-self: left;
    text-decoration: none;
    height: 100%;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second,.sub{
    font-size: 25px;
    color: #fbff00;
    margin: auto;
    justify-self: left;
    margin-right: 40px;
    margin-left: 60px;
    height: 100%;
    align-content: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second:hover, .sub:hover{
    background-color: #292929;
    font-size: 30px;
}
.principal:hover{
    background-color: #292929;
    font-size: 45px;
}
.main:hover .sub{
    display: flex;
}
.sub{
    justify-self: left;
    display: none;
    background-color: #5e5e5e;
    z-index: 10;
    position: relative;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}
.textos{
    color: #fff;
    font-size: 26px;
    margin: 150px;
    margin-top: 75px;
    margin-bottom: 100px;
    text-align: justify;
    font-family: 'Playfair Display', serif;
}
p{
 color: #fff;
    font-size: 26px;
    margin: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    font-family: 'Playfair Display', serif;   
}
img{
    margin: 10px;
}
h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(235, 235, 5);
}